<div class="bg">
  <div class="container">
 
    <app-message></app-message>
    <section class="container-fluid">
      <a
        class="btn btn-secondary btn-lg btn-block pt-1 pb-1 mb-3"
        data-toggle="collapse"
        href="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
        style="text-align: start;"
      >
        Profile Info
      </a>
      <div class="collapse" id="collapseExample">
        <div class="card card-body" id="profile">
          <app-profile-info></app-profile-info>
        </div>
      </div>
      <section class="row  mb-3">
        <div class="col">
          <h4 id="number">Employees</h4>
        </div>
        <div class="col text-right"></div>
      </section>
      <div id="list" class="container-fluid mt-4 overflow-auto">
        <app-employees></app-employees>
      </div>
      <div class="container  pb-1">
        <div class="row justify-content-center">
          <a routerLink="/crQuestion" class="btn btn-primary col-3 mr-1 mb-1" role="button"
            >New Test</a
          >
          <a routerLink="/employee" class="btn btn-primary  col-3 mr-1 mb-1" role="button"
            >New Employee</a
          >
          <a class="btn btn-primary text-white  col-3 mr-1 mb-1"
            (click)="authService.SignOut()"
            role="button">
            Logout
            </a>
        </div>
      </div>
    </section>
  </div>
</div>
