<div class="bg">
  <div class="card shadow-lg bg-white" id="cardall">
    <div class="card-header">
      Aptitudes Test
    </div>
    <div class="card-body text-center">
      <img
        src="/../../assets/img/valvula.svg"
        width="60"
        height="60"
        class="d-inline-block mb-4"
        style="transform: rotate(90deg);"
      />

      <div class="overflow-auto" style="max-height: 40vh;" #form>
        <div *ngFor="let item of [0, 0, 0, 0, 0]; let i = index">
          <div class="input-group mb-4">
            <input
              type="text"
              class="form-control 1"
              placeholder="Pregunta {{i+1}}"
              aria-label="p1"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-4">
            <input
              type="text"
              class="form-control 1"
              placeholder="Opcion 1"
              aria-label="p1"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-4">
            <input
              type="text"
              class="form-control 1"
              placeholder="Opcion 2"
              aria-label="p1"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-4">
            <input
              type="text"
              class="form-control 1"
              placeholder="Opcion 3"
              aria-label="p1"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-4">
            <input
              type="text"
              class="form-control 1"
              placeholder="Opcion 4"
              aria-label="p1"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-4">
            <input
              type="number"
              class="form-control 1"
              placeholder="Opcion correcta"
              aria-label="p1"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-4">
            <input
              type="number"
              id="p4"
              class="form-control 1"
              placeholder="valor"
              aria-label="p5"
              aria-describedby="basic-addon1"
            />
          </div>
          <hr style="border-block-color: black;" />
        </div>
      </div>
      <a routerLink="/dashboard" class="btn btn-dark mt-4">Back</a>
      <a (click)="onSubmit(form)" class="btn btn-dark mt-4 text-white"
        >Create-Replace Test</a>
    </div>
  </div>
</div>
