<div class="bg">
    <nav class="navbar navbar-light bg-light mb-4" style="height: max-content;">
        <a class="navbar-brand" style="display: inline-flex;">
            <img src="/img/gas-natural.svg" width="60" height="60" class="d-inline-block" alt="">
            <h2 class="pt-2" style="margin-left: 10%;">Caribean Gas</h2>
        </a>
    </nav>
    <div class="card shadow-lg bg-white" id="cardall">
        <div class="card-header">
            Aptitudes Test
        </div>
        <div class="card-body text-center">
            <img src="/img/valvula.svg" width="60" height="60" class="d-inline-block mb-4"
                style="transform: rotate(90deg);">
            <!-- <h3 class="card-title mb-4">Caribean Gas</h3> -->
            <div class="overflow-auto" style="max-height: 40vh;">
                <div class="input-group mb-4">
                    <input type="text" class="form-control 1" placeholder="Pregunta 1" aria-label="p1"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" class="form-control 1" placeholder="Opcion 1" aria-label="p1"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" class="form-control 1" placeholder="Opcion 2" aria-label="p1"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" class="form-control 1" placeholder="Opcion 3" aria-label="p1"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" class="form-control 1" placeholder="Opcion 4" aria-label="p1"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="number" class="form-control 1" placeholder="Opcion correcta" aria-label="p1"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                        <input type="number" id="p4" class="form-control 1" placeholder="valor" aria-label="p5"
                            aria-describedby="basic-addon1">
                    </div>
                <hr style="border-block-color: black">
                <div class="input-group mb-4">
                    <input type="text" id="p2" class="form-control 2" placeholder="Pregunta 2" aria-label="p2"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p2" class="form-control 2" placeholder="Opcion 1" aria-label="p2"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p2" class="form-control 2" placeholder="Opcion 2" aria-label="p2"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p2" class="form-control 2" placeholder="Opcion 3" aria-label="p2"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p2" class="form-control 2" placeholder="Opcion 4" aria-label="p2"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="number" id="p2" class="form-control 2" placeholder="Opcion correcta" aria-label="p3"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                        <input type="number" id="p4" class="form-control 2" placeholder="valor" aria-label="p5"
                            aria-describedby="basic-addon1">
                    </div>
                <hr style="border-block-color: black">
                <div class="input-group mb-4">
                    <input type="text" id="p3" class="form-control 3" placeholder="Pregunta 3" aria-label="p3"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p3" class="form-control 3" placeholder="Opcion 1" aria-label="p3"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p3" class="form-control 3" placeholder="Opcion 2" aria-label="p3"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p3" class="form-control 3" placeholder="Opcion 3" aria-label="p3"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p3" class="form-control 3" placeholder="Opcion 4" aria-label="p3"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="number" id="p3" class="form-control 3" placeholder="Opcion correcta" aria-label="p3"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                        <input type="number" id="p4" class="form-control 3" placeholder="valor" aria-label="p5"
                            aria-describedby="basic-addon1">
                    </div>
                <hr style="border-block-color: black">
                <div class="input-group mb-4">
                    <input type="text" id="p4" class="form-control 4" placeholder="Pregunta 4" aria-label="p4"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p4" class="form-control 4" placeholder="Opcion 1" aria-label="p4"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p4" class="form-control 4" placeholder="Opcion 2" aria-label="p4"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p4" class="form-control 4" placeholder="Opcion 3" aria-label="p4"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p4" class="form-control 4" placeholder="Opcion 4" aria-label="p4"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="number" id="p4" class="form-control 4" placeholder="Opcion correcta" aria-label="p5"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                        <input type="number" id="p4" class="form-control 4" placeholder="valor" aria-label="p5"
                            aria-describedby="basic-addon1">
                    </div>
                <hr style="border-block-color: black">
                <div class="input-group mb-4">
                    <input type="text" id="p5" class="form-control 5" placeholder="Pregunta 5" aria-label="p5"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p5" class="form-control 5" placeholder="Opcion 1" aria-label="p5"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p5" class="form-control 5" placeholder="Opcion 2" aria-label="p5"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p5" class="form-control 5" placeholder="Opcion 3" aria-label="p5"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="text" id="p5" class="form-control 5" placeholder="Opcion 4" aria-label="p5"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="number" id="p5" class="form-control 5" placeholder="Opcion correcta" aria-label="p5"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                        <input type="number" id="p5" class="form-control 5" placeholder="Valor" aria-label="p5"
                            aria-describedby="basic-addon1">
                </div>
            </div>
            <a href="list.html" class="btn btn-dark mt-4" >&nbsp Back &nbsp</a>
            <a onclick="myFunction()" class="btn btn-dark mt-4 text-white">Create-Replace Test</a>
        </div>
    </div>
</div>