<body class="bg">
    <nav class="navbar navbar-light bg-light mb-4" style="height: max-content;">
        <a class="navbar-brand" style="display: inline-flex;">
            <img src="/img/gas-natural.svg" width="60" height="60" class="d-inline-block" alt="">
            <h2 class="pt-2" style="margin-left: 10%;">Caribean Gas</h2>
        </a>
    </nav>
    <div class="card shadow-lg bg-white" id="cardall">
        <div class="card-header">
            Employee Register
        </div>
        <div class="card-body text-center">
            <img src="/img/valvula.svg" width="60" height="60" class="d-inline-block mb-4"
                style="transform: rotate(90deg);">
            <!-- <h3 class="card-title mb-4">Caribean Gas</h3> -->
            <div class="input-group mb-4">
                <input type="text" id="name" class="form-control" placeholder="Name" aria-label="Name"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-4">
                <input type="Text" id="image" class="form-control" placeholder="Image URL" aria-label="Password"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-4">
                <input type="text" id="dir" class="form-control" placeholder="dir" aria-label="dir"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-4">
                <input type="email" id="mail" class="form-control" placeholder="mail" aria-label="mail"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-4">
                <input type="password" id="password" class="form-control" placeholder="Password" aria-label="Password"
                    aria-describedby="basic-addon1">
            </div>
            <a href="list.html" class="btn btn-dark" >Volver</a>
            <a onclick="myFunction()" class="btn btn-dark text-white" id="select">Registrar Empleado</a>
        </div>
    </div>