<div class="bg">
    <div class="card shadow-lg bg-white" id="cardall">
        <div class="card-header">
            Aptitudes Test
        </div>
        <div class="card-body text-center">
            <img src="../../assets/img/valvula.svg" width="60" height="60" class="d-inline-block mb-4"
                style="transform: rotate(90deg);">
            <!-- <h3 class="card-title mb-4">Caribean Gas</h3> -->
            <div class="overflow-auto" style="max-height: 40vh;">
                <div class="input-group mb-4">
                    <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                        aria-describedby="basic-addon1" #companyName>
                </div>
                <div class="form-group">
                    <select class="form-control" #companyDoctype>
                        <option>Cedula</option>
                        <option>Numero Unico</option>
                        <option>Pasaporte</option>
                        <option>Cedula de Extranjeria</option>
                    </select> 
                </div>
                <div class="input-group mb-4">
                    <input type="number" class="form-control" placeholder="DNI" aria-label="Password"
                        aria-describedby="basic-addon1" #companyDni>
                </div>
                <div class="input-group mb-4">
                    <input type="Text" class="form-control" placeholder="Image URL" aria-label="Password"
                        aria-describedby="basic-addon1" #companyCimage>
                </div>
                <div class="input-group mb-4">
                    <input type="number" class="form-control" placeholder="Compañia" aria-label="Password"
                        aria-describedby="basic-addon1" #companyCname>
                </div>
                <!-- <div class="input-group mb-4">
                        <input type="text" id="cname" class="form-control" placeholder="Compañia" aria-label="Password"
                            aria-describedby="basic-addon1">
                    </div> -->
                <div class="input-group mb-4">
                    <input type="number" class="form-control" placeholder="telefono" aria-label="Password"
                        aria-describedby="basic-addon1" #companyTel>
                </div>
                <div class="input-group mb-4">
                    <input type="email" class="form-control" placeholder="email" aria-label="Password"
                        aria-describedby="basic-addon1" #companyEmail>
                </div>
                <div class="input-group mb-4">
                    <input type="password" class="form-control" placeholder="Password"
                        aria-label="Password" aria-describedby="basic-addon1" #companyPassword>
                </div>

            </div>
            <a (click)="signup(companyName.value,companyDoctype.value,companyDni.value,companyCimage.value,companyCname.value,companyTel.value,companyEmail.value,companyPassword.value)" class="btn btn-dark text-white mt-4">SingUp</a>
        </div>
    </div>
</div>