<div class="bg">
    <nav class="navbar navbar-light bg-light mb-4" style="height: max-content;">
        <a class="navbar-brand" style="display: inline-flex;">
            <img src="../../assets/img/gas-natural.svg" width="60" height="60" class="d-inline-block" alt="">
            <h2 class="pt-2" style="margin-left: 10%;">Caribean Gas</h2>
        </a>
    </nav>
    <div class="card shadow-lg bg-white" id="cardall">
        <div class="card-header">
            Aptitudes Test
        </div>
        <div class="card-body text-center">
            <img src="../../assets/img/valvula.svg" width="60" height="60" class="d-inline-block mb-4"
                style="transform: rotate(90deg);">
            <!-- <h3 class="card-title mb-4">Caribean Gas</h3> -->
            <div class="overflow-auto" style="max-height: 40vh;">
                <div class="input-group mb-4">
                    <input type="text" id="name" class="form-control" placeholder="Name" aria-label="Name"
                        aria-describedby="basic-addon1">
                </div>
                <div class="form-group">
                    <select class="form-control" id="doctype">
                        <option>Cedula</option>
                        <option>Numero Unico</option>
                        <option>Pasaporte</option>
                        <option>Cedula de Extranjeria</option>
                    </select>
                </div>
                <div class="input-group mb-4">
                    <input type="number" id="dni" class="form-control" placeholder="DNI" aria-label="Password"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="Text" id="cimage" class="form-control" placeholder="Image URL" aria-label="Password"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="number" id="cname" class="form-control" placeholder="Compañia" aria-label="Password"
                        aria-describedby="basic-addon1">
                </div>
                <!-- <div class="input-group mb-4">
                        <input type="text" id="cname" class="form-control" placeholder="Compañia" aria-label="Password"
                            aria-describedby="basic-addon1">
                    </div> -->
                <div class="input-group mb-4">
                    <input type="number" id="tel" class="form-control" placeholder="telefono" aria-label="Password"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="email" id="mail" class="form-control" placeholder="email" aria-label="Password"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-4">
                    <input type="password" id="password" class="form-control" placeholder="Password"
                        aria-label="Password" aria-describedby="basic-addon1">
                </div>

            </div>
            <a onclick="myFunction()" class="btn btn-dark text-white mt-4">SingUp</a>
        </div>
    </div>
</div>